In [3]:
import pandas as pd
import requests
from cachecontrol import CacheControl
from cachecontrol.caches.file_cache import FileCache
from cachecontrol.heuristics import LastModified
from io import BytesIO

session = CacheControl(requests.Session(),
                       cache=FileCache('.cache'),
                       heuristic=LastModified())

query = '''SELECT DISTINCT ?period
WHERE {
  [] <http://purl.org/linked-data/sdmx/2009/dimension#refPeriod> ?period
}'''

endpoint = 'https://production-drafter-ons-alpha.publishmydata.com/v1/sparql/live'

periods = pd.read_csv(BytesIO(requests.get(endpoint,
                                           headers={'Accept': 'text/csv'},
                                           params={'query': query}).content))
periods

                                              period
0    http://reference.data.gov.uk/id/quarter/2015-Q3
1    http://reference.data.gov.uk/id/quarter/2015-Q4
2    http://reference.data.gov.uk/id/quarter/2016-Q1
3    http://reference.data.gov.uk/id/quarter/2016-Q2
4    http://reference.data.gov.uk/id/quarter/2016-Q3
5    http://reference.data.gov.uk/id/quarter/2016-Q4
6    http://reference.data.gov.uk/id/quarter/2017-Q1
7    http://reference.data.gov.uk/id/quarter/2017-Q2
8    http://reference.data.gov.uk/id/quarter/2017-Q3
9          http://reference.data.gov.uk/id/year/2015
10         http://reference.data.gov.uk/id/year/2016
11         http://reference.data.gov.uk/id/year/2012
12         http://reference.data.gov.uk/id/year/2013
13         http://reference.data.gov.uk/id/year/2014
14     http://reference.data.gov.uk/id/month/1998-06
15     http://reference.data.gov.uk/id/month/2014-01
16     http://reference.data.gov.uk/id/month/2013-08
17     http://reference.data.gov.uk/id/month/2000-12
18     http://reference.data.gov.uk/id/month/2005-06
19   http://reference.data.gov.uk/id/quarter/2002-Q4
20     http://reference.data.gov.uk/id/month/2018-01
21     http://reference.data.gov.uk/id/month/2015-05
22   http://reference.data.gov.uk/id/quarter/2002-Q3
23     http://reference.data.gov.uk/id/month/2009-10
24   http://reference.data.gov.uk/id/quarter/2010-Q1
25     http://reference.data.gov.uk/id/month/2014-09
26         http://reference.data.gov.uk/id/year/1999
27   http://reference.data.gov.uk/id/quarter/2011-Q1
28     http://reference.data.gov.uk/id/month/2007-09
29   http://reference.data.gov.uk/id/quarter/2001-Q2
..                                               ...
315    http://reference.data.gov.uk/id/month/2013-02
316    http://reference.data.gov.uk/id/month/2001-01
317    http://reference.data.gov.uk/id/month/2010-02
318    http://reference.data.gov.uk/id/month/2017-02
319    http://reference.data.gov.uk/id/month/2002-05
320    http://reference.data.gov.uk/id/month/2005-08
321    http://reference.data.gov.uk/id/month/2001-03
322    http://reference.data.gov.uk/id/month/2013-09
323    http://reference.data.gov.uk/id/month/2005-11
324    http://reference.data.gov.uk/id/month/2004-06
325    http://reference.data.gov.uk/id/month/2013-01
326    http://reference.data.gov.uk/id/month/2000-04
327    http://reference.data.gov.uk/id/month/2007-06
328  http://reference.data.gov.uk/id/quarter/1998-Q1
329    http://reference.data.gov.uk/id/month/2008-11
330    http://reference.data.gov.uk/id/month/1998-03
331  http://reference.data.gov.uk/id/quarter/2008-Q4
332  http://reference.data.gov.uk/id/quarter/2001-Q4
333    http://reference.data.gov.uk/id/month/2012-01
334    http://reference.data.gov.uk/id/month/2006-01
335    http://reference.data.gov.uk/id/month/2004-03
336  http://reference.data.gov.uk/id/quarter/2018-Q1
337  http://reference.data.gov.uk/id/quarter/2007-Q4
338    http://reference.data.gov.uk/id/month/2006-08
339    http://reference.data.gov.uk/id/month/2004-02
340    http://reference.data.gov.uk/id/month/2011-09
341    http://reference.data.gov.uk/id/month/2008-01
342    http://reference.data.gov.uk/id/month/2000-06
343  http://reference.data.gov.uk/id/quarter/1999-Q2
344        http://reference.data.gov.uk/id/year/1997

[345 rows x 1 columns]

In [ ]:
from pathlib import Path

out = Path('out')
out.mkdir(exist_ok=True, parents=True)

#nt_contenttype = 'application/n-triples'
nt_contenttype = 'text/plain'

nt = out / 'periods.nt'
with open(out / 'periods.nt', 'wb') as f:
    for periodUrl in periods.period:
        f.write(session.get(periodUrl, headers={'Accept': nt_contenttype}).content)